.moviePosterLoadingContainer {
    display: flex;
    flex-flow: column nowrap;
    margin: 2% 1% 2% 1%;
    width: 284px;

    @keyframes pulse {
        0% {
            background-color: rgba(165, 165, 165, 0.1);
        }
        50% {
            background-color: rgba(165, 165, 165, 0.3);
        }
        100% {
            background-color: rgba(165, 165, 165, 0.1);
        }
    }

    .image {
        height: 400px;
        width: 100%;
        animation: pulse 1s infinite ease-in-out;
        border-radius: 4px;
    }

    .title {
        height: 1rem;
        width: 100%;
        animation: pulse 1s infinite ease-in-out;
        margin: 8px 0;
        border-radius: 4px;
    }

    .genres {
        height: .8rem;
        width: 80%;
        animation: pulse 1s infinite ease-in-out;
        border-radius: 4px;
    }
}