@import 'styles/theme';

.formContainer {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    background-color: white;
    box-shadow: $lc-box-shadow;
    border-radius: 4px;
    padding: 24px;

    .submitButton {
        margin-left: auto;
    }
}