.homepage-page-container {
    margin: 32px 64px;
    box-shadow: 0 4px 20px 1px rgba(47, 51, 56, 0.35);
}

.homepage-carousel {
    text-align: center;
    max-height: 640px;
    overflow: hidden;
}

.homepage-page-content {
    min-height: 1500px;
    background: pink;
}

.movies-carousel {
    height: 500px;
    overflow: hidden;
}

.movie-poster {
    height: 600px;
}
