.button {
    background: rgba(0, 0, 0, 0.22);
    border: 1px solid #868686;
    box-sizing: border-box;
    cursor: pointer;

    font-weight: bold;
    font-size: 18px;
    line-height: 18px;

    padding: 12px 42px;
}