.search-results-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 2%;
}

.search-results-container .movie-poster-container {
    margin: 2% 1% 2% 1%;
    width: 284px;
    display: table-cell;
    vertical-align: middle;
}

.search-results-container .movie-poster-container .movie-poster-container-image {
    height: 400px;
    width: 100%;
}

.search-results-container .movie-poster-container-image .movie-poster {
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.movie-poster-card-meta {
    display: flex;
    flex-direction: column;
}

.movie-poster-quality {
    width: 5px;
    height: 13px;
    margin-right: 7px;
    display: inline-flex;
    background-color: rgb(30, 121, 33);
}

.movie-poster-quality.hide {
    display: none;
}
