@import 'styles/colors';
@import 'styles/theme';

.genreCard {
    padding: 16px;
    cursor: pointer;
    transition: all 150ms ease-in-out;
    border: 1px solid $lc-grey;

    &:hover {
        box-shadow: $lc-box-shadow;
    }
}
