@import 'styles/colors';

.moviePosterCard {
    display: flex;
    flex-flow: row nowrap;

    .coverContainer {
        flex: 1;
        position: relative;

        .cover {
            border-radius: 4px;
            height: 400px;
        }

        .hover {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          bottom: 4px;
          display: flex;
          flex-flow: column nowrap;

          .watchButton {
            cursor: pointer;
            margin: auto auto 8px auto;
            font-size: 1rem;
            background-color: $lc-red;
            // opacity: .8;
            color: white;
            border-radius: 300px;
            border: none;
            padding: 8px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
            transition: box-shadow ease 150ms;
        }

        .cover {
            border-radius: 4px;
            max-height: 400px;
            width: 100%;

            &.loading {
                display: none;
            }

            &:hover {
                box-shadow: 0 6px 8px rgba(0,0,0,0.30), 0 3px 6px rgba(0,0,0,0.22);
            }
          }
        
        .loading {
            @keyframes pulse {
                0% {
                    background-color: rgba(165, 165, 165, 0.1);
                }
                50% {
                    background-color: rgba(165, 165, 165, 0.3);
                }
                100% {
                    background-color: rgba(165, 165, 165, 0.1);
                }
            }

            border-radius: 4px;
            height: 400px;
            width: 100%;
            animation: pulse 1s infinite ease-in-out;
        }
    }

    .footer {
        flex: 5;
        display: flex;
        flex-flow: column nowrap;
        padding: 4px;

        .title {
            margin-top: 4px;
            font-size: 1.2rem;
            font-weight: bold;
        }

        .genres {
            margin-top: 4px;
            font-size: .9rem;
            color: rgba(0, 0, 0, .2);
        }

        .moviePosterQuality {
            border-left: 4px solid darkgreen;
            padding-left: 4px;

            &.hide {
                padding-left: none;
                border: none;
            }
        }
    }
}
}