.watch-page-container {
    min-height: 100vh;
    padding-bottom: 0;
}

.watch-page-container .details-container {
    background: white;
}

.watch-page-container .recommendations h2 {
    color: white;
    margin-left: 112px;
}

@media screen and (max-width: 900px) {
    .watch-page-container .details-container {
        padding: 16px 8px;
    }

    .watch-page-container .recommendations h2 {
        margin: 0;
    }
}

@media screen and (min-width: 900px) {
    .watch-page-container .details-container {
        padding: 16px 128px;
    }
}

.watch-page-container .details-container .description-container {
    flex: 1;
}

.watch-page-container .details-container .casting-container {
    flex: 1;
}

.watch-page-container .details-container .watch-title {
    font-size: 2rem;
    border-left: 4px solid black;
    padding-left: 8px;
}

.watch-page-container .details-container .movie-summary {
    font-size: 1em;
    text-align: justify;
}

.watch-page-container .recommendations {
    padding: 16px  16px 32px 16px;
    background: white;
    width: 100%;
    color: black;
}

.watch-page-container .recommendations h2 {
    border-left: 4px solid black;
    padding-left: 8px;
}

.watch-page-container .recommendations .slick-arrow {
    color: black;
}

.watch-page-container .recommendations .ant-typography {
    color: black;
}

.watch-page-container .quality-dropdown-icon {
    color: white;
    position: absolute;
    font-size: 14px;
    top: 8px;
    right: 16px;
}

.watch-page-container .quality-dropdown-icon:hover {
    color: #48a0f7;
}

.watch-page-container .quality-dropdown-icon-disabled {
    color: grey;
    position: absolute;
    font-size: 14px;
    top: 8px;
    right: 16px;}