.watch-page-container {
    min-height: 100vh;
    overflow: hidden;
}

.watch-page-container .description-container {
    padding: 16px 128px;
}

.watch-page-container .movies-carousel {
    padding: 0 128px;
}
