@import 'styles/colors';

.watchPageContainer {
    min-height: 100vh;
    padding-bottom: 0;

    .detailsContainer {
        background: $lc-primary-background;

        .descriptionContainer {
            flex: 1;
            margin-bottom: 2rem;
        }

        .castingContainer {
            flex: 1;
        }

        .movie-summary {
            text-align: justify;
        }
    }

    .recommendations {
        padding: 16px;
        background: $lc-primary-background;
        width: 100%;
        color: black;
    }

    .qualityDropdownIcon {
        color: white;
        position: absolute;
        font-size: 14px;
        top: 8px;
        right: 16px;

        &:hover {
            color: #48a0f7;
        }
    }

    .qualityDropdownIconDisabled {
        color: grey;
        position: absolute;
        font-size: 14px;
        top: 8px;
        right: 16px;
    }
    
}

@media screen and (max-width: 900px) {
    .watchPageContainer {
        .detailsContainer {
            padding: 16px 4px 0;
        }

        .recommendations {
            padding: 0 4px;
        }
    }
}

@media screen and (min-width: 900px) {
    .watchPageContainer {
        .detailsContainer {
            padding: 16px 16px 0;
        }
    }
}
