@import 'styles/theme';

.notfoundPageContainer {
    box-shadow: $lc-box-shadow;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: 128px 64px;

    display: flex;
    align-items: center;
    justify-content: center;
}