.movieLoadingGalleryContainer {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(284px, 284px));
  column-gap: 2%;
  row-gap: 24px;
}

.moviesGalleryContainer {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(284px, 284px));
  column-gap: 2%;
  row-gap: 24px;
}
