.movieLoadingGalleryContainer {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(284px, 284px));
  column-gap: 2%;
}

.moviesGalleryContainer {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(284px, 284px));
  column-gap: 2%;
}
