.movieLoadingGalleryContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    .moviePosterContainer {
      margin: 2% 1% 2% 1%;
      width: 284px;
      display: table-cell;
      vertical-align: middle;
  }
}

.moviesGalleryContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .moviePosterContainer {
        margin: 2% 1% 2% 1%;
        width: 284px;
        display: table-cell;
        vertical-align: middle;
    }
}
