.movie-posters-carousel .movie-poster {
    cursor: pointer;
    padding-top: 56.25%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.movie-poster-hover-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.movie-poster-hover-content h4, .movie-poster-hover-content span {
    color: white;
    text-shadow: 1px 1px 2px black;
}

.movie-poster-hover-content > .movie-poster-icon {
    color: white;
    font-size: 32px;
}

.movie-poster-hover-content .movie-poster-icon svg {
    background: rgba(0,0,0,.5);
    border-radius: 300px;
}