.loadingPage {
    height: calc(100vh - 133px);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.appContainer {
    min-height: calc(100vh - 64px);
    margin-top: 64px;
    display: flex;
    flex-direction: column;
}

.appContent {
    background-color: white;
}

