@import './Antd.replace.scss';

.page-container {
    margin: 64px 0 32px 0;
    padding-bottom: 32px;
    box-shadow: 0 4px 20px 1px rgba(47, 51, 56, 0.35);
    background: white;
}

.page-container .ant-page-header {
  border-bottom: 1px solid #ebedf0;
  margin-bottom: 8px;
}

h2 {
    border-left: 4px solid black;
    padding-left: 8px;
}
