@import './Antd.replace.scss';

.page-container {
    margin: 32px 6rem;
    padding-bottom: 32px;
    box-shadow: 0 4px 20px 1px rgba(47, 51, 56, 0.35);
    background: white;
}

.page-container .ant-page-header {
  border-bottom: 1px solid #ebedf0;
  margin-bottom: 8px;
}

@media screen and (min-width: 900px) {
    .page-container {
        margin: 32px 6rem;
    }
}

@media screen and (max-width: 720px) {
    .page-container {
        margin: 32px 3rem;
    }
}

@media screen and (max-width: 480px) {
    .page-container {
        margin: 32px 2rem;
    }
}

@media screen and (max-width: 320px) {
    .page-container {
        margin: 32px 0;
    }
}

h2 {
    border-left: 4px solid black;
    padding-left: 8px;
}
