@import './Antd.replace.scss';
@import 'styles/theme';

.page-container {
    margin: 64px 0 32px 0;
    padding-bottom: 32px;
  box-shadow: $lc-box-shadow;
    background: white;
}

.page-container .ant-page-header {
  border-bottom: 1px solid #ebedf0;
  margin-bottom: 8px;
}

h2 {
    border-left: 4px solid black;
    padding-left: 8px;
}
