@import 'styles/colors';

.container {
   display: flex; 
   flex-flow: row nowrap;
   align-items: center;
   justify-content: center;
   margin-left: auto;
   width: 50%;
   height: 200px;

   .avatar {
       flex: 1;
       border-radius: 300px;
       min-height: 100px;
       max-height: 100px;
       min-width: 100px;
       max-width: 100px;
       object-fit: cover;
   }

   .displayName {
        flex: 3;
        color: rgba($lc-black, .5);
        font-size: 1rem;
        display: flex;
        flex-flow: row nowrap;
   }
}

.loadingContainer {
   display: flex; 
   flex-flow: row nowrap;
   margin-left: auto;
   justify-content: center;
   align-items: center;
   height: 200px;
   width: 50%;

   @keyframes pulse {
        0% {
            background-color: rgba(165, 165, 165, 0.1);
        }
        50% {
            background-color: rgba(165, 165, 165, 0.3);
        }
        100% {
            background-color: rgba(165, 165, 165, 0.1);
        }
    }

   .loadingAvatar {
       flex: 1;
       border-radius: 300px;
       min-height: 100px;
       max-height: 100px;
       min-width: 100px;
       max-width: 100px;
       animation: pulse 1s infinite ease-in-out;
       margin-right: 8px;
   }

   .loadingDisplayName {
       flex: 3;
       height: 1rem;
       animation: pulse 1s infinite ease-in-out;
   }
}