@import 'styles/colors';

.container {
   display: flex; 
   flex-flow: column nowrap;
   align-items: center;
   justify-content: center;
   margin: 32px auto;

   .avatar {
       border-radius: 300px;
       min-height: 150px;
       max-height: 150px;
       min-width: 150px;
       max-width: 150px;
       object-fit: cover;
       box-shadow: 0 1px 5px 1px rgba(134, 134, 136, 0.35);
    }

    .name {
        .fullName {
            color: rgba($lc-black, .7);
            font-size: 1.5rem;
            font-weight: bold;
       }

       .displayName {
            color: rgba($lc-black, .5);
            font-size: 1.3rem;
       }
   }
}

.loadingContainer {
   @keyframes pulse {
        0% {
            background-color: rgba(165, 165, 165, 0.1);
        }
        50% {
            background-color: rgba(165, 165, 165, 0.3);
        }
        100% {
            background-color: rgba(165, 165, 165, 0.1);
        }
    }

   .loadingAvatar {
       border-radius: 300px;
       height: 150px;
       width: 150px;
       animation: pulse 1s infinite ease-in-out;
   }

   .loadingDisplayName {
       margin-top: 8px;
       height: 1.5rem;
       width: 100%;
       border-radius: 4px;
       animation: pulse 1s infinite ease-in-out;
   }
}