.navbar-container {
    position: fixed;
    z-index: 10;
    width: 100%;
    box-shadow: 0 8px 20px rgba(41, 45, 51, 0.35);
    padding: 0 0;
}

.navbar-container .ant-menu {
    background: #292929;
}

.navbar-container .ant-menu .ant-menu-item a {
    color: white;
}

.navbar-container .ant-menu .logout-button {
    color: white;
}

.navbar-container .ant-menu .ant-menu-submenu-title span {
    color: white;
}

.ant-menu .ant-menu-item-selected {
  color: black;
  background: none !important;
}

.ant-menu-item-group-list .ant-menu-item-selected {
  color: #FF5242;
  background: #FFDEDB !important;
}

.ant-menu-item-group-list .ant-menu-item-selected a {
  color: #FF5242;
}

.ant-menu-item:hover,
.ant-menu-item:hover a,
.navbar-container .ant-menu .ant-menu-item-selected a,
.navbar-container .ant-menu .ant-menu-item a:hover,
.navbar-container .ant-menu .logout-button:hover,
.navbar-container .ant-menu .ant-menu-submenu-active .ant-menu-submenu-title span,
.navbar-container .ant-menu .ant-menu-submenu-selected .ant-menu-submenu-title span
{
    color: #FF5242;
    background: none;
}

.navbar-container .ant-menu .ant-menu-submenu-active,
.navbar-container .ant-menu .ant-menu-item-active,
.navbar-container .ant-menu .ant-menu-item-selected,
.navbar-container .ant-menu .ant-menu-submenu-selected
{
    border-color: #FF5242;
}

.navbar-logo:hover {
    border-bottom: 2px solid transparent !important;
}

.navbar-searchbar:hover {
    border-bottom: 2px solid transparent !important;
}

.logo {
    height: 48px;
    float: left;
    margin: 8px 8px 8px 0;
    cursor: pointer;
}

.menu-items-container {
    padding: 0 1%;
    width: 100vw;
}

@media screen and (min-width: 450px) {
    .logout-button {
        float: right;
    }
}

.navbar-menu .ant-input-search {
    width: 180px;
}

.navbar-menu .ant-input {
    padding-right: 64px !important;
}
