@import 'styles/colors';

@keyframes pulse {
    0% {
        background-color: rgba(165, 165, 165, 0.1);
    }
    50% {
        background-color: rgba(165, 165, 165, 0.3);
    }
    100% {
        background-color: rgba(165, 165, 165, 0.1);
    }
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 9999;
    width: 100%;
    padding: 0 10%;
    height: 64px;
    background-color: $lc-black;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: white;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.61);

    .logoContainer {
        height: 80%;

        .logo {
            height: 100%;
            width: auto;
            cursor: pointer;
        }
    }

    .dropdown {
        position: absolute;
        visibility: hidden;
        z-index: 9999;
        border-radius: 4px;
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.61);
        min-width: 100px;

        .dropdownContent {
            display: flex;
            flex-flow: column nowrap;
            background-color: $lc-black;
            color: white;
            border-radius: inherit;

            .dropdownTitle {
                padding: 8px;
                margin-top: 8px;
                color: rgba(white, .3);
                font-size: 1em;
            }

            .dropdownElement {
                color: white;
                padding: 8px 24px;
                cursor: pointer;
                background-color: inherit;
                transition: background-color 150ms ease-in-out;

                &:hover {
                    color: $lc-light-red;
                    background-color: rgba(white, .1);
                }

                &:last-child {
                    margin-bottom: 4px;
                }
            }
        }
    }

    .searchBar {
        margin-left: 6%;
        .searchInput {
            width: 50%;
            max-width: 300px;
            min-width: 100px;
            background: $lc-black;
            border: none;
            transition: border-bottom 250ms ease-in-out;
            transition: width .3s;
            display: inline-block;

            &:focus {
                border: none;
                outline: none;
                border-bottom: 1px solid white;
            }
        }

        .searchIcon {
            cursor: pointer;
        }
    }

    .categories {
        margin-left: 6%;

        .categoryTitle {
            display: flex;
            align-items: center;
            line-height: 16px;
            flex-flow: row nowrap;
            color: white;
            transition: color 150ms ease-in-out;
            cursor: pointer;

            .categoryIcon {
                margin-right: 4px;
            }

            &:hover {
                color: $lc-light-red;
            }
        }

        &:hover {
            .categoriesDropdown {
                visibility: visible;
            }

            .categoryTitle {
                color: rgba(white, .3);
            }
        }
    }

    .profilePart {
        height: 70%;
        margin-left: auto;

        .userInfo {
            height: 100%;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            cursor: pointer;
            filter: none;
            transition: filter 150ms ease-in-out, color 150ms ease-in-out;
            padding: 8px;

            .userProfilePicture {
                border-radius: 300px;
                height: 100%;
                width: auto;
                background: none;
            }

            .userProfilePictureLoading {
                border-radius: 300px;
                height: 100%;
                width: 37.8px;
                background: none;
                filter: none;
                transition: filter 150ms ease-in-out;
                animation: pulse 1s infinite ease-in-out;
            }

            .userName {
                margin-left: 8px;
                font-size: 1.1em;
            }
        }

        &:hover {
            .profileDropdown {
                visibility: visible;
            }

            .userInfo {
                filter: grayscale(.2);
                color: rgba(white, .3);
            }
        }
    }
}
