.loadingFormContainer {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;

    @keyframes pulse {
        0% {
            background-color: rgba(165, 165, 165, 0.1);
        }
        50% {
            background-color: rgba(165, 165, 165, 0.3);
        }
        100% {
            background-color: rgba(165, 165, 165, 0.1);
        }
    }

    .randomField {
        width: 100%;
        height: 2rem;
        animation: pulse 1s infinite ease-in-out;
        border-radius: 4px;
    }

    .fullNameContainer {
        width: 100%;

        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;

        .fieldContainer {
            display: flex;
            flex-flow: column nowrap;
            width: 48%;

            .nameField {
              height: 2rem;
              animation: pulse 1s infinite ease-in-out;
              border-radius: 4px;
            }
        }
    }

    .fieldContainer {
      display: flex;
      flex-flow: column nowrap;
      margin: 18px;

      .fieldLabel {
        width: 30%;
        margin-bottom: 8px;
        height: 1.3rem;
        animation: pulse 1s infinite ease-in-out;
        border-radius: 4px;
      }
    }

    .submitButton {
      margin: 24px 16px 0 auto;
      width: 10%;
      height: 2rem;
      animation: pulse 1s infinite ease-in-out;
      border-radius: 4px;
    }
}