@import 'styles/colors';

.CastingCollapse {
    background: $lc-primary-background;
    padding-left: 0;

    .castingCollapsePanel {
        background: $lc-primary-background;
        font-size: 1.1rem;
        border-radius: 2px;
        margin-bottom: 24px;
        border: 0;
        overflow: hidden;
    }
}
