@import 'styles/colors';

.pageContainer {
    margin-top: 32px;

    .pageHeader {
        font-size: 1.5rem;
        font-weight: 500;
        width: 100%;
        color: rgba($lc-black, .5);
    }

    .pageContent {
        display: flex;
        flex-flow: column nowrap;
    }
}