.movie-staff {
    padding: 8px;
}

.movie-staff .movie-staff-member {
    cursor: pointer;
    height: 224px;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}