.pageContainer {
    margin-top: 32px;

    .moviesCarousel {
        overflow: hidden;
        width: 100%;
        margin: 0;

        .sectionTitle {
            padding-bottom: 8px;
            margin: 0 16px;
            border-bottom: 1px solid rgba(0, 0, 0, .1);
        }
    }
}
