.homepage-carousel {
    text-align: center;
    max-height: 640px;
    overflow: hidden;
}

.homepage-page-content {
    min-height: 1500px;
    background: pink;
}

.movies-carousel {
    overflow: hidden;
    width: 100%;
    margin: auto;
}

.movies-carousel h2 {
    margin-left: 16px;
}
